section{
    width: 100%; 
    height: 100vh; 
    box-sizing: border-box;
}

.section1 {
    background: url("../images/webProgramming.jpgs");
    
    background-size: cover;
    background-attachment: fixed; 
        
}