body{
    padding: 0; 
    margin: 0;
}



.section1 {
    font-family: 'Oswald', sans-serif;
    width:100%; 
    height: 100%; 
    text-transform: uppercase; 
     padding: 120px;
     color: white; 
    font-weight: 600; 
    font-size: 60px; 
    padding: 120px;
    position: relative;
}

.section2{
    
    padding-left: 10px; 
    background: #fff;
    position: inherit; 
    top: 0; 
    bottom: 0; 
    left:0; 
    right:0; 
    
}

.sectionImage{
position: absolute;
    top:0; 
    bottom: 0; 
    left: 0;
    width: 100%; 
   
    opacity: .75;
    z-index: -1;
}

.m{
   align-content: center; 
    
}

img{
    display: flex; 
    
}

.containerr{
     position: absolute;
     justify-content: center;
    align-items: center;
    background: lightBlue;
    text-decoration: none;
    list-style: none;
    width: 300px;
}



#contactUs {
    display: block;
    align-content: center;
    border: 2px solid lightGrey;
    background: lightGrey;
    color:cadetblue;
    text-decoration:  none;
    font-size: 40px;
    width: 290px; 
    padding: 2px; 
 
    
}

h1{
    font-family: 'Bitter', serif;

}


h2 {
    padding-top: 200px;
    padding-left: 30px;
    font-family: 'Bitter', serif;
     text-align: left;
    font-size: 49px; 
    
}

.para {
    font-family: 'Bitter', serif;
    padding-top: 25px;
    padding-left: 25px; 
    font-size: 20px;
    width: 50%;
    color: gray;

    width: 95%;
    text-align: left;
}


h3{
   font-family: 'Oswald', sans-serif;
    padding: 10px; 
    font-size: 60px;
    color:aliceblue; 
    font-weight: 600;
    text-align: center;
    
}
.final{
    position: relative;
    top:0; 
    bottom: 0;
    width: 100%;
    height: 100%;
    margin-top:0;
    margin-bottom: 0;
    background: url("../images/Very%20Blue.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.final ul {
   list-style: none; 
    width: 33.3%;
}


.finalimag ul li{
    padding: 10px ;
    width: 200px;
}

.finalimag{
    width: 80%; 
    margin: 0 auto; 
    text-align: center;
}


.im{
    padding: 20px 20px 20px 20px ; 
    display: inline-block; 
}

.tit{
    font-size: 30px; 
    color:white; 
    font-family: 'Oswald', sans-serif;
}


