
header{
   background:url(../images/Between%20Night%20and%20Day.jpg);
    width:100%; 
    height: 100px; 
    position: fixed; 
    top:0; 
    left: 0; 
    z-index: 100; 
  
}
img{
    position: relative; 
}



nav{

 float: right; 
    padding: 20px; 
    font-family: sans-serif;
    
}


 ul{
   list-style: none; 
}

li{
    display: inline-block; 
    float: left; 
    padding: 10px;
    
}
a{
    color: #fff; 
    text-decoration: none; 
    font-size: 22px;
    font-weight: bold; 
}

a:hover{
    text-decoration: underline; 
}
#logo {
    margin: 20px; 
    float: left; 
    width:200px; 
    height: 70px; 
    background: url("../images/icons8-cloud-100.png") no-repeat center;
    display: block;
}

#menu-icon{
    background: url("../images/hamburger.png"); 
    display: hidden; 
    width: 32px; 
    height: 32px; 
}

@media only screen and (max-width: 640px){
    header{
        position: absolute; 
    }
    
    #menu-icon{
        display: inline-block; 
    }
    
    nav ul, nav:active ul {
        display: none; 
        position: absolute; 
        padding: 20px; 
        background: grey; 
        right: 10px; 
        top: 65px; 
        width: 35%; 
        
    }
    
    nav:hover ul{
        display: block; 
        
    }
    nav li{
        text-align: center; 
        width: 100%; 
        padding: 15px 0; 
        margin: 0px; 
    }
}

footer{
    bottom: 0;
    position: relative;
    width: 100%;
    height: 70px; 
   background:url(../images/Dark%20Ocean.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px; 
}

.submenu ul{
    float: left; 
    display: flex; 
    margin: 0; 
    padding: 0; 
}

.submenu ul li {
    list-style: none;
}


.submenu ul li a {
    position: relative; 
    display: block; 
    height: 70px; 
    line-height: 70px; 
    padding: 0 20px; 
    text-decoration: none;
    color: aliceblue; 
    text-transform: uppercase;
    
}

