

.main-nav ul  {
    list-style: none;

    padding: 0;
    margin: 0;
}

.main-nav ul li {
    float: left; 
    background: grey; 
 
    
}
.main-nav ul li a{
    text-decoration: none;
    color: #000;
    display: block;
    text-align: center; 
    padding: 14px 16px;
}

footer{
    bottom: 0;
    position: absolute;
}

.footer-menu submenu ul{
    list-style: none; 
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
    border-color: grey;
    
    
}

.submenu 
