*{
    margin: 0; 
    padding: 0;
}

.main-nav{
    width: 100%; 
    float: left;
    
}

.main-nav ul {
    list-style-type: none;
    background: grey; 
    margin: 0;
    padding: 0; 
 
    overflow: hidden;
}


.main-nav ul li{
float: left;
    
    
    
}
.main-nav ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px; 
    color: black;
    font-weight: 600; 
  
    
    
}




footer{
    bottom: 0;
    position: absolute;
}

.submenu ul{
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
    border-color: grey;
    
    
}

.submneu ul li a {
background: grey; 
}


